# Copy to server.env and fill values.
RABBITMQ_HOST=10.0.1.10
SERVER_ID=server-1
POSTGRES_HOST=10.0.1.11

HEALTH_PORT=8080
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=adminpassword

METRICS_DB_NAME=chatflow
METRICS_DB_USERNAME=chatflow
METRICS_DB_PASSWORD=chatflow
METRICS_DB_PORT=5432
METRICS_DB_POOL_SIZE=10
